.disc-tracklist {
  margin: .5rem 0;

  .track {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: .5rem;

    &:nth-child(even) {
      .track-info {
        background-color: #F3F3F3;
      }
    }
  }

  .track-info {
    flex: 1 1 auto;
    padding: 0 .5rem;
  }

  .track-actions {
    margin-right: .5rem;
    padding: 0;
  }

  .track-number {
    font-weight: bold;
    margin-right: .5rem;
  }
}
