.login .switch-wrapper {
    display: flex;
    background-color: #333;
    width: 100vw;
    min-height: 100vh;
    color: #fff;
    justify-items: center;

    & > div {
        flex: 1;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        padding: 7% 0 20%;

        & > div {
            width: 90%;

            @media (min-width: 26.25rem) {
                width: 70%;
            }

            @media (min-width: 37.5rem) {
                width: 50%;
            }

            @media (min-width: 48rem) {
                width: 40%;
            }

            @media (min-width: 64rem) {
                width: 25%;
            }
        }
    }

    form {
        text-align: center;

        .label {
            color: #fff;
        }

        .button {
            width: 100%;
            background-color: #ddd;
            border: none;
            transition: all 150ms ease-in-out;

            &:hover, &:active, &:focus {
                background-color: #fff;
            }
        }
    }

    .login-logo {
        color: #ccc;
        font-size: 14rem;
        height: 8rem;
        margin-bottom: 3rem;
        overflow: hidden;
        width: 14rem;

        .svg-icon {
            height: auto;
        }
    }

    .forgot-password-link {
        text-align: center;
        margin-top: 1rem;
        
        a {
            color: #fff;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}
