@import "variables";

.pagination {
  justify-content: center;
  padding: 0 1rem;

  @media (min-width: $tablet) {
    padding: 0;
  }

  .pagination-list {
    flex-grow: 0;
  }

  .pagination-link[aria-current="page"] {
    background-color: #3273dc;
    border-color: #3273dc;
    color: #fff;
  }
}
