@import "variables";
@import "vendor";
@import "icons";
@import "login";
@import "admin_menu";
@import "action_menu";
@import "table";
@import "pagination";
@import "breadcrumbs";
@import "forms";
@import "submit_with_cancel";
@import "mde";
@import "artist_image";
@import "show";
@import "video";
@import "title_with_actions";
@import "release_disc";
@import "disc_tracklist";
@import "creditlist";
@import "endorsementlist";
@import "releasevendorlist";

.no-scroll {
  overflow: hidden;
}

p, .has-margin-bottom {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: auto;
}

.buttons.has-addons {
  min-width: 3.3125rem;
}

.switch-wrapper {
  position: relative;

  & > div {
    position: absolute;
    width: 100%;
    margin-bottom: 3rem;
  }
}

.admin {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    display: flex;
    background-color: #333;
    padding: 0.5rem 1rem;
    min-height: 2.75rem;

    &,
    a,
    .title {
      color: #eee;
    }

    .title {
      margin-bottom: 0;
    }

    .nav-open {
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #ddd;
      margin-right: 1rem;

      &:hover,
      &:focus {
        color: #fff;
      }

      .icon {
        width: auto;
        height: auto;

        .svg-icon {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }

    .btn-logout {
      margin-left: auto;
      color: #999;
      cursor: pointer;
      padding: 0;
      border: none;
      background-color: transparent;
      transition: all 200ms ease-in-out;

      &:hover, &:active {
        color: #fff;
      }

      .svg-icon {
        font-size: 1rem;
      }
    }

    @media (min-width: $tablet) {
      align-items: center;
    }
  }

  .admin-main {
    .admin-content-panel {
      padding: 1rem 0 0 0;
    }

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 0;

      .page-content {
        flex-basis: 85%;
        flex-grow: 1;
      }

      .admin-content-panel {
        padding: 1rem;
      }
    }
  }
}
