@import "vendor";
@import "variables";
@import "icons";

.admin {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    display: flex;
    background-color: #333;
    padding: 0.5rem 1rem;

    &,
    a,
    .title {
      color: #eee;
    }

    .brand {
      padding-right: 1rem;

      .icon {
        vertical-align: middle;
        width: auto;
        height: auto;

        .svg-icon {
          width: 6rem;
          height: 3rem;
        }
      }
    }

    @media (min-width: $tablet) {
      align-items: center;
    }
  }

  .admin-menu {
    .navbar-item {
      &.is-active {
        background-color: #eee;
      }
    }
  }

  @media (min-width: $tablet) {
    .admin-main {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      padding: 0;

      .admin-menu {
        background-color: #ddd;
        flex-basis: 20%;
      }

      .page-content {
        flex-grow: 1;
        max-width: 64rem;
        overflow-y: scroll;
      }

      .admin-content-panel {
        padding: 1rem;
      }
    }

    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}
