@import "variables";
@import "vendor";
@import "icons";
@import "forms";
@import "mde";

p {
  margin-bottom: 1rem;
}

.switch-wrapper {
  position: relative;

  & > div {
    position: absolute;
    width: 100%;
  }
}

.action-menu {
  background-color: #eee;
  margin: -1rem -1rem 2rem -1rem;

  .button {
    margin-bottom: 0;
    border-radius: 0;
  }
}

.admin {
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    display: flex;
    background-color: #333;
    padding: 0.5rem 1rem;
    min-height: 2.75rem;

    &,
    a,
    .title {
      color: #eee;
    }

    .brand {
      padding-right: 1rem;

      .icon {
        vertical-align: middle;
        width: auto;
        height: auto;

        .svg-icon {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    @media (min-width: $tablet) {
      align-items: center;
    }
  }

  .admin-menu {
    .navbar-item {
      &.is-active {
        background-color: #eee;
      }
    }
  }

  @media (min-width: $tablet) {
    .admin-main {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      padding: 0;

      .admin-menu {
        background-color: #ddd;
        flex-basis: 15%;
      }

      .page-content {
        flex-basis: 85%;
        flex-grow: 1;

        // max-width: 64rem;
        overflow-y: scroll;
      }

      .admin-content-panel {
        padding: 1rem;
      }
    }

    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}
